@model IEnumerable<LostGamer.Models.Games>

@{
    ViewData["Title"] = "Game Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Game Library</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Synopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platforms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Synopsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverLogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platforms.PlatformName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating.RatingNum)
            </td>
            <td>
                |<a asp-action="Show" asp-route-id="@item.Id">Show</a> |
            </td>
        </tr>
}
    </tbody>
</table>
