@model LostGamer.Models.UserProfiles

@{
    ViewData["Title"] = "ProfileInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProfileInfo</h2>

<div>
    <h4>UserProfiles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserAccountId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserAccountId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserType.TypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditProfile" asp-route-id="@Model.Id">Edit Profile</a> |
    <a asp-controller="Games" asp-action="GameLibrary">List of Games</a> |
    <a asp-controller="Guides" asp-action="UserGuides" asp-route-id="@Model.Id">User Guides</a> |
    <a asp-controller="Comments" asp-action="UserComments" asp-route-id="@Model.Id">User Comments</a> |
</div>
