@model IEnumerable<LostGamer.Models.Guides>

@{
    ViewData["Title"] = "GameGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Game's Guides</h2>

<p>
    <a asp-action="Create">Create New Guide</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GuideTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSubmitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserProfiles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GuideTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSubmitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.GameTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserProfiles.DisplayName)
            </td>
            <td>
                |<a asp-action="Guide" asp-route-id="@item.Id">Show</a>|
            </td>
        </tr>
}
    </tbody>
</table>
