@model LostGamer.Models.Guides

@{
    ViewData["Title"] = "Guide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Guides</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GuideTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GuideTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.GameTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserProfiles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserProfiles.DisplayName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateSubmitted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GuideContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GuideContent)
        </dd>
    </dl>
</div>
<div>
    |
    <a asp-action="GamesGuides">Back to List</a>|
    <a asp-controller="Comments" asp-action="Create" asp-route-id="@Model.Id">Add Comment</a> |
    <a asp-controller="Comments" asp-action="ViewComments" asp-route-id="@Model.Id">View Comments!</a> |
</div>
