@model IEnumerable<LostGamer.Models.Comments>
@{
    ViewData["Title"] = "Guide Comments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Guide Comments</h2>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserProfiles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guides)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserProfiles.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guides.GuideTitle)
            </td>
            <td>
                |<a asp-action="Details" asp-route-id="@item.Id">View</a> |
            </td>
        </tr>
}
    </tbody>
</table>
